[data-location-hash="#/classify"] .site-header
  height: 370px

.classify
  margin-top: -270px

  @media (max-height: 640px)
    &
      margin-top: -300px

  .interface
    margin: 0 auto
    position: relative
    width: 800px

  .subject-options
    color: white
    position: absolute
    right: 100%
    top: 0

    a,
    button
      border: 2px solid
      border-radius: 50%
      box-sizing: border-box
      display: inline-block
      color: inherit
      font-size: 20px
      height: 40px
      line-height: 36px
      margin: 5px 10px
      position: relative
      text-align: center
      width: 40px

      &.active
        background: DARK_BLUEISH
        color: yellow

      &.showing-overlay
        z-index: 1

  .subject
    color: white
    position: relative

  .throbber
    font-size: 20px
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  .marking-surface
    display: block
    height: 400px
    width: 100%

    svg
      background: rgba(DARK_BLUEISH, 0.9)
      border-radius: 5px
      box-shadow: 0 3px 10px rgba(black, 0.25)
      overflow: hidden

  .marking-tool-controls
    display: none
    text-shadow:
      0 0 1px black,
      0 1px 2px black,
      0 2px 3px black

    &.tool-selected
      display: block

    button
      &[name="destroy"]
        background: RED
        border-radius: 50%
        color: white
        font-weight: bold
        height: 1.25em
        line-height: 1.25em
        width: 1.25em

    label
      display: inline-block
      width: 120px
      text-align: left

  .question
    font-size: 18px
    line-height: 1
    margin: 15px 0
    text-align: center

    @media (max-height: 640px)
      &
        display: none

  .tools
    border-spacing: 10px 0
    display: table
    margin: 15px -10px 30px
    text-align: center
    width: 100%
    width: calc(100% \+ 20px)

    .tool
      display: table-cell
      height: 100px
      vertical-align: middle
      white-space: nowrap
      width: 10% /* Eh, play with this so they're even. */

    label
      cursor: pointer
      display: block
      width: 100%

    input
      bottom: 0
      position: absolute
      right: 0
      visibility: hidden

    .outer-label,
    button
      background: white
      border: 2px solid
      border-radius: 5px
      box-sizing: border-box
      cursor: pointer
      display: block
      font-weight: bold
      height: 100px
      position: relative
      width: 100%

    :checked + .outer-label
      background: BLUEISH
      border-color: BLUEISH
      color: white

    button[name="finish"]
      background: GREEN
      border-width: 0
      color: white

      .finish-label
        display: none

      &.has-marks
        .skip-label
          display: none

        .finish-label
          display: inline

    .inner-label
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)

    .icon
      font-size: 30px
