.classify
  .marking-surface
    border: 1px solid gray
    position: relative

    .marking-tool-controls
    	width: 120px

	    button
	    	display: block

	  	label
	  		display: inline-block
	  		width: 120px
	  		text-align: left
