[data-location-hash="#/"] .site-header
  height: 620px

.home-page
  margin-top: -560px

  .introduction
    color: white
    margin: 10px 0

  .classify-link
    background: BLUEISH
    border-radius: 3px
    color: white
    display: inline-block
    padding: 10px 30px
    text-decoration: none

  .counters
    background: black
    display: table
    text-align: center
    width: 100%

  .counter
    display: table-cell
    width: 20%

  .project-summary
    padding: 100px 0
    text-align: center

  .why
    background: gray /* TODO */
    color: white
