@keyframes milky-way-loop
  0%
    transform: translateX(0)

  100%
    transform: translateX(-50%)

[data-location-hash="#/"] .site-header
  height: 550px

  .home-background
    opacity: 1

.home-page
  margin-top: -500px

  .introduction
    color: white
    height: 350px

    .action
      margin-top: 50px

      .social
        color: inherit
        display: inline-block
        height: 1.25em
        font-size: 30px
        text-align: center
        vertical-align: middle
        width: 1.25em

  .classify-link
    background: BLUEISH
    border-radius: 5px
    color: white
    display: inline-block
    padding: 10px 30px
    text-decoration: none
    transition: background 0.2s
    vertical-align: middle

    &:hover
      background: lighten(BLUEISH, 5%)

  .counters
    background: lighten(black, 15%)
    border-radius: 5px
    color: white
    display: table
    text-align: center
    width: 100%

  .counter
    display: table-cell
    padding: 20px 0 20px
    width: 20%

  .counter-value
    font-size: 24px
    font-weight: bold

  .counter-label
    font-size: 14px

  .project-summary
    padding: 50px 0
    text-align: center

  .why
    color: white
    position: relative
    overflow: hidden

    .background
      // animation: milky-way-loop 130s infinite linear
      background: gray url("./images/milky-way-red.jpg") 50% 50%
      background-size: cover
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: -1
