@import "../node_modules/zooniverse/css/top-bar.css"
@import "../node_modules/zooniverse/css/dialog.css"
@import "../node_modules/zooniverse/css/footer.css"

html
  background: gray
  color: white
  text-align: center

@import "./nav"
@import "./home"
@import "./classify"
