html
  background: white
  color: BLUEISH
  font: 300 14px "Open Sans", sans-serif

body
  margin: 0

  > .stack-of-pages
    position: relative

.inverted
  background: rgba(DARK_BLUEISH, 0.9)
  color: white
  padding: 1px 0

.general
  background: BEIGE
  font-size: 18px
  padding: 1px 0 4em

.content
  margin: 0 auto
  width: 800px

.minor
  font-size: 14px
  line-height: 24px

.columns
  GUTTER = 20px

  clearfix()
  margin: 1em 0

  > *
    float: left
    margin-right: GUTTER

    &.half
      width: 45%
      width: calc(50% \- GUTTER)

    &.third
      width: 30%
      width: calc(33.33% \- GUTTER)

    &.quarter
      width: 20%
      width: calc(25% \- GUTTER)

    > :first-child
      margin-top: 0

  img
    max-width: 100%

h1
  font-size: 34px
  font-weight: inherit
  margin: 3em 0 1em

  & ~ p
    font-size: 22px

h2,
h3
  font-size: inherit
  font-weight bold
  letter-spacing: 1px
  margin: 3em 0 1em
  text-transform: uppercase

hr
  background: transparent
  color: darken(BEIGE, 10%)
  border: 0 solid
  border-top-width: 1px
  margin: 3em 0

p
  line-height: 30px

img.round
  border-radius: 50%

a
  color: GREEN

  &:not([href])
    opacity: 0.5

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
  transition: opacity 0.1s

  &:disabled
    opacity: 0.5

abbr[title]
  cursor: help

.zooniverse-footer
  color: BLUEISH
  margin: 50px auto
  width: 800px

  .zooniverse-logo-container
    color: darken(DARK_BLUEISH, 50%)

  a
    color: inherit

  .zooniverse-footer-projects
    font-size: 12px
