html
  background: white
  color: BLUEISH
  font: 300 14px "Open Sans", sans-serif

body
  margin: 0

.inverted
  background: rgba(DARK_BLUEISH, 0.9)
  color: white
  padding: 1px 0

.general
  background: BEIGE
  font-size: 18px
  padding: 1px 0 3em

.content
  line-height: 30px
  margin: 0 auto
  width: 800px

.minor
  font-size: 14px
  line-height: 24px

h1
  color: black
  font-size: 34px
  font-weight: inherit
  margin: 3em 0 1em

  & ~ p
    font-size: 22px

h2,
h3
  font-size: inherit
  font-weight bold
  letter-spacing: 1px
  margin: 3em 0 1em
  text-transform: uppercase

hr
  background: transparent
  color: darken(BEIGE, 10%)
  border: 0 solid
  border-top-width: 1px
  margin: 3em 0

.columns
  clearfix()
  margin: 3em 0

  > * > :first-child
    margin-top: 0

  .half
    float: left
    margin-right: 20px
    width: 45%
    width: calc(50% \- 20px)

  img
    max-width: 100%

a
  color: GREEN

  &:not([href])
    opacity: 0.5

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
  transition: opacity 0.1s

  &:disabled
    opacity: 0.5

abbr[title]
  cursor: help

.zooniverse-footer
  color: BLUEISH
  margin: 50px auto
  width: 800px

  .zooniverse-logo-container
    color: darken(DARK_BLUEISH, 50%)

  a
    color: inherit
