BLUEISH = #3c8999

html
  background: white
  color: BLUEISH
  font: 300 14px "Gill Sans", sans-serif // TODO: What actually is this?

body
  margin: 0

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
