@import "../node_modules/zooniverse/css/top-bar.css"
@import "../node_modules/zooniverse/css/dialog.css"
@import "../node_modules/zooniverse/css/footer.css"

html
  background: #111111
  color: #dddddd
  text-align: center

body
  width: 960px
  margin: 0 auto

@import "./nav"
@import "./home"
@import "./classify"
