.navigation-menu
  BACKGROUND = #04181c
  FOREGROUND = white

  background: rgba(BACKGROUND, 0.9)
  bottom: 0
  color: FOREGROUND
  left: 0
  position: fixed
  right: 0
  top: 0
  transition:
    opacity 0.5s,
    transform 0.5s

  &.hidden
    opacity: 0
    transform: translateY(-100%)

  .links
    left: 50%
    max-height: 100%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 800px

  .pages
    font-size: 36px
    line-height: 1

  a
    color: inherit
    display: inline-block
    padding: 10px 0
    text-decoration: none

    &.active
      color: #3c8999
