.overlay
  background: rgba(DARK_BLUEISH, 0.9)
  bottom: 0
  color: white
  left: 0
  position: fixed
  right: 0
  top: 0
  transition:
    opacity 0.5s,
    transform 0.5s
  z-index: 1

  &.hidden
    opacity: 0

    &.from-top
      transform: translateY(-100%)

    &.from-left
      transform: translateX(-100%)

  .content
    left: 50%
    max-height: 100%
    overflow: auto
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 800px - 40px

.show-inline-with-overlay,
.show-block-with-overlay
  display: none

.showing-overlay
  .show-inline-with-overlay
    display: inline

  .show-block-with-overlay
    display: block

  .hide-with-overlay
    display: none
