.site-header
  background: gray url("./images/milky-way-red-blurry.jpg") 50% 25% fixed
  background-size: cover
  color: white
  font-size: 14px
  height: 100px
  line-height: 1
  position: relative
  transition: height cubic-bezier(0.27, 0.01, 0.4, 0.99) 0.5s

  .home-background
    background: transparent url("./images/milky-way-red.jpg") 50% 25% fixed
    background-position: inherit
    background-size: inherit
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0
    transition: opacity 2s
    width: 100%

  .content
    font-size: inherit
    padding-top: 45px

  .constant
    position: relative

    &.showing-overlay
      z-index: 1

  .logo
    color: inherit
    text-decoration: none
    text-transform: uppercase
    letter-spacing: 1px

  .trailing
    float: right
