.team-page
  clearfix()

  .image
    text-align: center

  .organisations
    .image
      float: left
      width: 33%

  .scientists,
  .developers
    clearfix()

    .member
      box-sizing: border-box
      float left
      padding-right: 20px
      width: 33%

  .line-separator
    clear: left
